@import "./base";

// Buttons
.btn-primary {
    @include bg-br-opacity-3;

    &:hover {
        background-color: $brOpacityBlack5;
        border-color: $brOpacityBlack5;
    }
}

// Search and Filter Containers
.search-container, .filter-container {
    .form-label {
        box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 3px 0px;
        padding: .5rem 1rem;
        color: #007d75;
        box-sizing: border-box;
        min-width: 0px;
        position: relative;
        white-space: nowrap;
        background-color: #f9f6e5;
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: .6rem;
    }
}

// Search Input
.custom-input {
    &__inner {
        @include bg-green-opacity-3;
        position: relative;
        margin-bottom: 1.5rem;
        padding: .5rem;
        border-radius: 10px;

        &__input {
            @include zilla-font;
            border: 2px solid rgba(107, 92, 67, .4);
            font-size: 16px;
            font-weight: 600;
            letter-spacing: .2px;
            color: $primaryBeige;
            transition: border-color ease-in-out .2s;

            &:focus {
                border: 2px solid rgba(107, 92, 67, 1);
                box-shadow: none;
                outline: none;
                color: $primaryBeige;
            }
        }
    }
}

// List
.custom-list {
    display: flex;
    margin-bottom: 0;
    padding: 0;
    flex-direction: column;

    &__link {
        display: flex;
        list-style: none;
        margin-top: .2rem;

        &:before {
            display: inline-block;
            width: 25px;
            height: 25px;
            background-image: url("../images/modal-icons/bells.png");
            background-size: cover;
            content: "";
        }

        &__anchor {
            @include zilla-font;
            width: 95%;
            margin-bottom: 0;
            margin-left: .3rem;
            font-size: 18px;
            font-weight: 600;
            color: $primaryBeige;
            text-transform: capitalize;
            transition: font-weight ease-in-out .2s;

            &:hover:not(p) {
                color: $primaryBeige;
                font-weight: 800;
                text-decoration: none;
            }
        }
    }
}

// Modal
.modal {
    &-content {
        border-radius: 10px;
    }

    &__header {
        width: 100%;
        border-bottom: 0;
        align-self: center;
        justify-content: center;

        .close {
            position: absolute;
            right: 1.5rem;
            color: $primaryGreen;
            font-size: 3rem;
        }
    }

    &__title {
        @include box-shadow;
        margin-top: .5rem;
        padding: 1rem;
        color: $primaryGreen;
        box-sizing: border-box;
        min-width: 0px;
        position: relative;
        white-space: nowrap;
        background-color: rgb(249, 246, 229);
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 3rem;

        &__image {
            height: 100px;
            align-self: center;

            &__inner {
                height: 100%;
            }

            &--lg {
                height: 300px;
                border-radius: 4px;
            }
        }

        &__inner {
            p {
                @include transition-ease-opacity-4;
                margin-bottom: 0;
                padding: 2rem;
                opacity: 1;
                transform: translate(0, 0);

                +p {
                    margin-bottom: 1rem;
                }

                img.gender {
                    opacity: .6;
                }
            }

            section {
                background: none;

                +section {
                    margin-top: 1rem;
                }

                h2 {
                    @include box-shadow;
                    display: inline-block;
                    margin-top: 1rem;
                    margin-bottom: 1.5rem;
                    padding: .5rem;
                    color: $primaryGreen;
                    box-sizing: border-box;
                    min-width: 0px;
                    position: relative;
                    z-index: 1;
                    white-space: nowrap;
                    background-color: rgb(249, 246, 229);
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: capitalize;
                }

                &.info {
                    p {
                        @include zilla-font;
                        padding: 0;
                        font-size: 18px;
                        font-weight: 600;
                        color: $primaryBeige;
                        text-transform: capitalize;
                    }

                    .shadow {
                        display: flex;
                        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(0%) contrast(0%);

                        &--x-small {
                            width: 25px;
                        }

                        &--small {
                            width: 35px;
                        }

                        &--medium {
                            width: 45px;
                        }

                        &--medium-fin {
                            width: 45px;
                        }

                        &--large {
                            width: 55px;
                        }

                        &--large-fin {
                            width: 65px;
                        }

                        &--x-large {
                            width: 75px;
                        }

                        &--xx-large {
                            width: 85px;
                        }

                        &--long {
                            width: 95px;
                        }
                    }
                }
            }

            .museum-phrase,
            .saying {
                @include bg-green-opacity-3;
                position: relative;
                margin-top: 2rem;
                border-radius: 10px;

                &:before {
                    bottom: 11px;
                    left: 11px;
                    position: absolute;
                    right: 11px;
                    top: 11px;
                    background-color: $primaryOffWhite;
                    content: "";
                }
            }
        }
    }

    &.fish,
    &.seacreature {
        .modal-content {
            background: url("../images/footer-bg.png") repeat, linear-gradient(to top, #A3D8E6, #7EC9DC);
        }
    }

    &.bug,
    &.fossil {
        .modal-content {
            background: url("../images/section-bg.png") repeat, linear-gradient(to top, #A3D8E6, #7EC9DC);
        }
    }
}


@media(max-width: 555px) {
    .modal__body {
        padding: 1.5rem;
    }
}