@import "../../sass/main.scss";

.grid-container {
    position: relative;
    display: flex;
    height: 100%;
    margin: 0 auto;
}

.grid {
    display: flex;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: flex-start;

    &__item {
        box-sizing: border-box;
        margin: 0px;
        min-width: 0px;
        position: relative;
        border: 1px solid $primaryBeige;
        width: 75px;
        height: 75px;
        padding: 8px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        cursor: pointer;
        display: flex;
        background-image: url("../../images/grid-bg.jpg");
        -ms-flex: auto;
        position: relative;
        padding: 10px;
        box-sizing: border-box;

        &__tooltip {
            text-transform: capitalize;

            >.tooltip-inner {
                @include box-shadow;
                margin-top: .5rem;
                margin-bottom: 1.5rem;
                padding: 1rem;
                color: #343434;
                min-width: 0px;
                position: relative;
                background-color: $boxBg;
                border-radius: 20px;
                font-size: 16px;
                text-align: l;
                text-transform: capitalize;
                border: 4px solid $brOpacityGreen;
            }


            &.bs-tooltip-top {
                >.arrow:before {
                    top: -24px;
                    border-width: .6rem;
                    border-top-color: $brOpacityGreen;
                }
            }

            &.bs-tooltip-right {
                >.arrow:before {
                    top: -5px;
                    border-width: .6rem;
                    border-right-color: $brOpacityGreen;
                }

            }
        }

        &__img {
            width: 60px;
        }

        &__inner {
            &:hover:after {
                content: "";
                position: absolute;
                top: 2px;
                bottom: 2px;
                left: 2px;
                right: 2px;
                border: 2px dashed rgb(102, 102, 102);
            }
        }
    }
}

@media(max-width: 1333px) {
    .grid__item {
        flex-basis: 20%;
    }
}

@media(max-width: 1073px) {
    .grid__item {
        flex-basis: 20%;
    }
}

@media(max-width: 815px) {
    .grid__item {
        flex-basis: 20%;
    }
}

@media(max-width: 555px) {
    .grid__item {
        flex-basis: 50%;
    }
}