@import "../../sass/main.scss";

.error-container {
    @include bg-green-opacity-3;
    position: relative;
    margin-top: 2rem;
    border-radius: 10px;

    &:before {
        bottom: 11px;
        left: 11px;
        position: absolute;
        right: 11px;
        top: 11px;
        background-color: $primaryOffWhite;
        content: "";
    }

    &__inner {
        @include transition-ease-opacity-4;
        margin-bottom: 0;
        padding: 2rem;
        opacity: 1;
        transform: translate(0, 0);
    }
}