.category-card {
    display: block;
    position: relative;
    height: 150px;
    word-wrap: break-word;
    background-clip: border-box;
    border: 7px solid rgba(0,129,96,0.3);
    border-radius: 50%;
    text-align: center;
    transition: background-color .4s ease-in-out;

    &__content {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: 50px;
        flex-wrap: wrap;

        /* ie10 */
        display: -ms-flexbox;
        -ms-flex-align: center;
        -ms-flex-line-pack: distribute;
        -ms-flex-preferred-size: 50px;
        -ms-flex-wrap: wrap;

        background-color: white;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 75px;
            transition: transform .4s ease-in-out;
        }

        span {
            margin: .2rem 0;
            padding: 0 .3rem;
            color: #3B865D;
            transition: color .4s ease-in-out;
        }
    }

    &:hover {
        background-color: #6FBA91;
        cursor: pointer;
    }

    &:hover img {
        transform: scale(1.2);
    }

    &:hover span {
        color: #226D44;
    }

    &.disabled {
        pointer-events: none;
        opacity: .5;
    }
}