@import "../../sass/main.scss";

.table {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-wrap: wrap;
    display: flex;

    &__item {
        box-sizing: border-box;
        margin: 0px -1px -1px 0px;
        min-width: 0px;
        flex: 1 1 25%;
        border: 1px solid $primaryGreen;
        padding: 4px;
        position: relative;
        background: $tableBg;
    }

    &__item__inner {
        box-sizing: border-box;
        margin: 0px;
        min-width: 0px;
        border-radius: 5px;
        font-size: 14px;
        font-style: italic;
        font-weight: 700;
        text-align: center;
        opacity: 0.5;

        &.available {
            box-sizing: border-box;
            margin: 0px;
            min-width: 0px;
            border-radius: 5px;
            font-size: 14px;
            font-style: italic;
            font-weight: 700;
            text-align: center;
            background-color: rgb(184, 210, 82);
            opacity: 1;
        }
    }
}

.custom-table {
    @include libre-font;
    width: 100%;
    font-size: 14px;
    font-weight: 600;

    &__image {
        @include bg-green-opacity-3;
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;

        &:before {
            bottom: 11px;
            left: 11px;
            position: absolute;
            right: 11px;
            top: 11px;
            background-color: $primaryOffWhite;
            border-radius: 50%;
            content: "";
        }

        img {
            position: absolute;
            padding: 10px;
            width: 50px;
            top: 5px;
            left: 5px;
            background-color: $primaryWhite;
            border-radius: 50%;
        }
    }

    input {
        @include libre-font;
    }

    tbody td {
        border-color: rgba(0, 129, 96, 0.3);
    }

    .MuiTablePagination-root:last-child {
        border: none;
    }

    .MuiToolbar-regular {
        padding: 0 1rem;

        h6 {
            margin-top: 6px;
        }

        h6,
        .MuiFormControl-root {
            @include box-shadow;
            padding: 1rem;
            color: $primaryGreen;
            box-sizing: border-box;
            min-width: 0px;
            position: relative;
            white-space: nowrap;
            background-color: $boxBg;
            font-size: 16px;
            font-weight: 700;
            text-transform: capitalize;
        }
    }

    .MuiPaper-root {
        background: transparent;
        box-shadow: none;
        border: none;
    }

    >.MuiPaper-root>div:last-of-type {
        @include bg-green-opacity-3;
        padding: 1rem;
        border-radius: 10px;

        >div {
            background-color: $tableBg;
        }

        thead tr th {
            @include zilla-font;
            position: initial;
            font-size: 16px;
            font-weight: 800;
            color: $primaryGreen;
        }
    }

    .MuiTableRow-root.MuiTableRow-hover:hover {
        @include bg-green-opacity-3;
    }
}