@import "./sass/main.scss";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

html,
body {
    @include libre-font;
    margin: 0;
    padding: 0;
}

// Create scrollable content
header,
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 50px;

    /* ie10 */
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-line-pack: distribute;
    -ms-flex-preferred-size: 50px;
}

header {
    background: repeating-linear-gradient(-45deg, #FFEC8D, #FFEC8D 20px, #FFE376 20px, #FFE376 40px);
}

section {
    background: url("images/section-bg.png") repeat;
}

footer {
    margin-top: auto;
    padding: 0 1rem;
    background: url("images/footer-bg.png") repeat, linear-gradient(to top, #A3D8E6, #7EC9DC);
    text-align: center;

    .copyright {
        margin-bottom: 0;
        color: $primaryGreen;
        font-weight: 600;
    }
}

.main-content {
    padding: 3rem 0;
    min-height: 610px;

    .container {
        max-width: 1050px;
    }
}

// Wave BG Pattern
.wave-bg {
    position: relative;
    min-height: 180px;

    &--top::before,
    &--top::after,
    &--bottom::before,
    &--bottom::after {
        position: absolute;
        left: 0;
        right: 0;
        background-repeat: repeat-x;
        content: "";
    }

    &--top {

        &::before,
        &::after {
            bottom: 0;
        }

        &::before {
            height: 10px;
            background-size: 20px 20px;
            background-image: radial-gradient(circle at 10px -5px, transparent 12px, #81C9A4 13px);
        }

        &::after {
            height: 15px;
            background-size: 40px 20px;
            background-image: radial-gradient(circle at 10px 15px, #81C9A4 12px, transparent 13px);
        }
    }

    &--bottom {

        &::before,
        &::after {
            top: 0;
        }

        &::before {
            height: 10px;
            background-size: 20px 20px;
            background-image: radial-gradient(circle at 10px 15px, transparent 12px, #81C9A4 13px);
        }
    }
}